*:has(> .crt-container) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 10rem;
    perspective-origin: center center;

    &:before {
        pointer-events: none;
        content: "";
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;

        background-image: radial-gradient(
            ellipse at center,
            transparent 90%,
            var(--color-base-200) 110%
        );
        background-size: 100% 100%;
        background-position: center center;
    }

    &:after {
        pointer-events: none;
        content: "";
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;

        background-image: linear-gradient(
                to right,
                var(--color-base-200) 0.5px,
                transparent 0.5px
            ),
            linear-gradient(
                to bottom,
                var(--color-base-200) 1px,
                transparent 1px
            );
        background-size: 2px 4px;
        background-position: 0 0;
    }
}

.crt-container {
    position: absolute;
    background-color: var(--color-base-200);
    left: 50%;
    top: 50%;
    transform: translate3d(-52%, -50%, 2rem) rotateX(1deg) rotateY(-2deg)
        rotateZ(1deg);
    will-change: transform;
    /* filter: url(#SphereMapTest); */
    height: 110vh;
    width: 120vw;
    overflow-x: hidden;
    overflow-y: auto;
}
